.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px auto;
}

.programs-list {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.program {
  position: relative;
  cursor: pointer;
}

.program img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.4s;
  border-radius: 10px;
  padding-top: 70%;
}
.title h1 {
  font-size: 10000px; /* Increase the font size */
}
.caption img {
  width: 60px;
  margin-bottom: 10px;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}
/* Add this to the existing CSS */

.grades {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}


.modal-content {
  margin-bottom: 20px;
}

.modal-close {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-close:hover {
  background-color: #0056b3;
}
